<form>
    <h1>Delete book</h1>
    <mat-form-field class="form">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="book.title"  matInput type="text" name="name" disabled>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Name author</mat-label>
        <input [(ngModel)]="book.name_author"  matInput type="text" name="name_author" disabled>
    </mat-form-field>    
    <mat-form-field class="form">
        <mat-label>Text</mat-label>
        <textarea [(ngModel)]="book.text" required matInput type="textarea" name="text"  maxlength="200" rows="8" disabled> </textarea>
    </mat-form-field>
    
    <div class="buttons">            
        <button (click)="delete()" class="mat-elevation-z6" mat-stroked-button color="primary">Delete book</button>
        <button (click)="cancel()" class="mat-elevation-z6" mat-stroked-button color="warn">Cancel</button>        
    </div>
</form>
