.content {
    width: 90%;
    margin: 1.4rem auto;
}
.title {
    text-align: left;
    margin-bottom: 3rem;
}
.title h1 {
    font-size: 1.7rem;
    font-weight: 400;
}
.table {
    width: 100%;
}
button {
    margin-bottom: .8rem;
}
.books {
    margin-left: .5rem;
    color: rgb(15,92,154);
}
.edit {
    color: 3F51B5;
}
.delete {
    color: red;
    margin-left: 1rem;
}
.mat-header {
    width: 5rem;
}