<form>
    <h1>Edit category</h1>
    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input  [(ngModel)]="category.name" matInput type="text" name="name" placeholder="Category name">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <input  [(ngModel)]="category.description" matInput type="text" name="description" placeholder="Description">
    </mat-form-field>
    
    <div class="buttons">            
        <button (click)="edit()" class="mat-elevation-z6" mat-stroked-button color="primary">Edit Category</button>
        <button (click)="cancel()" class="mat-elevation-z6" mat-stroked-button color="warn">Cancel</button>        
    </div>
</form>

